* {
  box-sizing: border-box;
}

/*General Formatting*/
html {
  background-color: #000000;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Courier New", monospace;
  font-weight: 400;
  line-height: 1.5;
}
h2,h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

/*Title Banner Formatting*/
.banner {
  position: fixed;
  background-color: rgba(229,229,229,255);
  width: 100%;
  border: 1px dotted #000;
}
/*Main Title*/
.header {
  width: 800px;
  margin: 0 auto;
  font-size: large;
}
/*Menu Formatting*/
.menu_button {
  width: 10px;
  height: 10px;
}
/*GO THROUGH THIS!!!! Menu content formatting (works for now but need to integrate into JS later*/
.menu_content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.menu:hover .menu_content {
  display: block;
}
.menu_content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.menu_content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

/*Main Body Formatting*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding-top: 100px;
  background: white;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex: 1;
}

/*
    Rules can be combined on a block to apply the 'cascade' in order
    So you can use two classnames in a single class attribute
    like: <div class="box section">
  
    Rules may combine in unexpected ways - remember that the LAST thing written in this file will have "priority"
    And will be what displays in your client
  */

.box {
  background-color: hsl(217, 28%, 79%);
  border: 2px dashed;
  border-radius: 4px;

  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  margin: 0 auto;
}

.left_section {
  background-color: hsl(217, 28%, 79%);
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
}

.right_section {
  /*max-width: 450px;
    specific width mentioned in lecutre but does not directly match lab assignment page*/
  background-color: hsl(217, 28%, 79%);
  flex: 1 2 auto;
  margin: 1rem;
  align-items: center; /*flex-start in media mode*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*
    This block is actually dependent on the "container" block having a flex set on it
    and the "wrapper" block displaying as a flex column with a "vertical height" (vh) of 100.
    That serves to cram the footer to the bottom of the page.
  */

.footer {
  flex-shrink: 0;
  padding: 1rem;
  /*background-color: hsl(217, 28%, 79%);*/
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px dotted;
  background: white;
}

.footer a {
  color: hsl(217, 28%, 79%);
  text-decoration: underline;
}

/*
    This is an example of a 'pseudoclass'
    In this instance, it says what to do if a mouse hovers over a link
    This is pretty desktop-specific, since there's no hover function on touchscreens
  */
.footer a:hover {
  /* Hue, saturation, luminosity, alpha */
  background-color: hsl(217, 28%, 79%);
  /* red, green, blue, alpha */
  color: hsl(217, 28%, 79%);
  text-decoration: none;
}

.subtitle {
  color: hsl(217, 28%, 79%);
  margin: 0px;
  margin-bottom: 5px;
}
/*
  Form Styles
  */

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

/* How To Write A Media Query For Small Screens */
@media only screen and (max-width: 736px) {
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    display: flex;
    flex: 1;
  }

  .box {
    background-color: hsl(217, 28%, 79%);
    border: 2px dashed;
    border-radius: 4px;

    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    margin: 0 auto;
  }

  .left_section {
    background-color: hsl(217, 28%, 79%);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
    width: 94%;
  }

  .right_section {
    /*max-width: 450px;
        specific width mentioned in lecutre but does not directly match lab assignment page*/
    background-color: hsl(217, 28%, 79%);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: flex-start; /*flex-start in media mode*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
  }
}
/*form {
    accent-color: hsl(129, 100%, 50%);
  }*/
