/*COLORS:
Pop out boxes: rgba(229,229,229,255)
*/

* {
  box-sizing: border-box;
}
/*  background-image: 'background.png';
*/
/*General Formatting*/
html {
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  font-weight: 400;
  line-height: 1.5;
  background-color: black;
}
h2,
h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}
.hidden {
  display: none;
}

/*Title Banner Formatting*/
.banner {
  position: fixed;
  background-color: rgb(153, 153, 168);
  width: 100%;
  padding: 1px;
  opacity: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 10px rgb(153, 153, 168);
}
/*Main Title*/
.header {
  margin: 0 auto;
  font-size: 300%;
  font-weight: 600;
}
/*Icon Formatting*/
.icon img {
  width: 70px;
  height: 70px;
}

/*Main Body Formatting*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding-left: 15px;
  padding-top: 120px;
  background-color: grey;

}
.box {
  background-color: rgb(153, 153, 168);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  margin: 0 auto;
}
.container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex: 1;
}
/*Long and Lat input*/
.long_lat_input {
  background-color: rgb(153, 153, 168);
  flex: 0 1 auto;
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*Map*/
#map {
  width: 1000px;
  height: 400px;
  margin-bottom: 1rem;
}
/*Error Message*/
.error {
  color: red;
  font-weight: 700;
  background-color: rgba(229, 229, 229, 255);
  border: 2px dashed;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
/*Submission Button*/
.button {
  font-family: "Courier New", monospace;
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 12px;
  background-color: rgb(153, 153, 168);
}
.button:hover {
  background-color: hsl(216, 90%, 30%);
  color: white;
}

/*Footer*/
.footer {
  flex-shrink: 0;
  height: 20px;
  /*background-color:aliceblue;*/
  /*box-shadow: 5px, -60px, 20px, white;*/

  background-image: linear-gradient(black,#98b3ee);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

/* How To Write A Media Query For Small Screens */
/*@media only screen and (max-width: 736px) {
  /* Rules in here will only apply when a screen is the correct size */
/* check it out by using your developer tools to shrink your screen-size */
/*.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    display: flex;
    flex: 1;
  }

  .box {
    background-color: hsl(217, 28%, 79%);
    border: 2px dashed;
    border-radius: 4px;

    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    margin: 0 auto;
  }

  .left_section {
    background-color: hsl(217, 28%, 79%);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
    width: 94%;
  }

  .right_section {
    /*max-width: 450px;
        specific width mentioned in lecutre but does not directly match lab assignment page*/
/*background-color: hsl(217, 28%, 79%);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: flex-start; /*flex-start in media mode*/
/*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
  }
}*/
/*form {
    accent-color: hsl(129, 100%, 50%);
  }*/
/*.subtitle {
  color: hsl(217, 28%, 79%);
  margin: 0px;
  margin-bottom: 5px;
}*/

/*
  Form Styles
  */
/*form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
/*width: 100%;
  /*width: -moz-available; /* WebKit-based browsers will ignore this. */
/*width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
/*width: fill-available;

  /* here we are setting white space correctly */
/*margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}*/
/*form label {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
/*width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
/*width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
/*margin-bottom: 0.5rem;
}*/
