* {
  box-sizing: border-box;
}

/*GENERAL*/
html {
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yi Baiti";
  font-weight: 400;
  line-height: 1.5;
  background-color: black;
}
h2,
h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

/*BANNER*/
.banner {
  position: fixed;
  background-color: hsl(216, 42%, 77%);
  width: 100%;
  opacity: 60%;
  display: flex;
  padding: 1px;
  justify-content: space-between;
}
/*Title*/
.header {
  text-indent: 50px;
  font-size: 200%;
  font-weight: 200;
  color: white;
}
/*Menu*/
.menu {
  padding: 15px 10px;
  color: white;
  background-color: hsl(216, 42%, 77%);
  border: hsl(216, 42%, 77%);
}
.menu:hover{
  background-color: black;
  color: white;
}

/*MAIN BODY*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 120px;
  font-size: 25px; 
}
.box {
  border-radius: 4px;
  background-color: hsl(217, 55%, 82%);
  border: white;
  border-style: double;
  width: 250px;
  height: fit-content;
  padding: 1.5rem;
  margin: 0 auto;
}
.trackerContainer {
  margin: 20px;
  align-items: center;
}

/*COORDINATES*/
.coordinates{
  display: flex;
  flex-direction: row;
  text-align: center;
}
/*clock*/
.clock{
  display: flex;
  flex: row;
  justify-content: center;
  font: "Javanese Text";
  font-size: 125px;
}
/*labels*/
.label{
  margin-top: 15px;
  background-color: hsl(217, 55%, 82%);
  margin: auto;
  border: white;
  border-style: double;
  width: 25%;
  text-align: center;
}
.label.main{
  background-color:  hsl(216, 42%, 77%);
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  opacity: 60%;
  padding: 1px;
  font-weight: 200%;
  font-size: 50px;
  color: white;
}

/*CENTER*/
.button img{
  height: 50px;
  background-color: #D0C9D1;
}
/*Layering Elements*/
.parent{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("./earth.png");
  background-size: 100% 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*Map*/
#map{
  width: 75%;
  height: 70%;
}

/*BACKGROUND COLORS*/
.aTB{
  background: radial-gradient(#F7E3C8, #F4E9E7, #DFD5D6, #CBC8DD, #9BA4DB);
  transition: all 2s;
}
.nTB{
  background: radial-gradient(#FAECDA, #F8EBDD, #E9D5CD, #D3D5E6, #ADB0D8);
  transition: all 2s;

}
.cTB{
  background: radial-gradient(#FCF5ED, #FBECD3, #F4D6C3, #DAE2EE, #BEBDD4);
  transition: all 2s;
}
.sunrise{
  background: radial-gradient(#FFFEFF, #FFEEC9, #FED6BA, #E2EFF7, #D0C9D1);
  transition: all 2s;
}
.noon{
  background: radial-gradient(#FFFFFF, #E7EBEB, #C3D1E0, #A2C6DA, #79BEDB);
  transition: all 2s;
}
.sunset{
  background: radial-gradient(#FE975A, #FF7F96, #CF739A, #703575, #220E4A);
  transition: all 2s;
}
.cTE{
  background: radial-gradient(#EF955D, #EB8A91, #B37996, #5C3E71, #191442);
  transition: all 2s;
}
.nTE{
  background: radial-gradient(#DF9460, #D7968B, #967E92, #49486D, #101B3A);
  transition: all 2s;
}
.aTE{
  background: radial-gradient(#D09263, #C3A186, #7A848E, #355169, #072132);
  transition: all 2s;
}